<h1> <%= "#{@user.username}'s events"%></h1>

<% @user.events.each_with_index do |event, index| %>
<h3>Host events:</h3>
<ul> 
<li> <%="Event: #{index+1} | Name: #{event.name} | Date: #{event.date} "%> </li>
</ul>
<% end %>

<h3>Attended events</h3>
<h4> Future events:</h4>

<%@user.attended_events.where("date > :date_today", {date_today: Date.today}).each do |event|%>
<ul> 
  <li> <%="Name: #{event.name} | Date: #{event.date} "%> </li> 
</ul>
<%end%>

<h4> Past events:</h4>

<%@user.attended_events.where("date < :date_today", {date_today: Date.today}).each do |event|%>
<ul> 
  <li> <%="Name: #{event.name} | Date: #{event.date} "%> </li> 
</ul>
<%end%>